<a href="https://colab.research.google.com/github/chahyeonseong/chahyeonseong/blob/main/%EC%BD%94%EB%93%9C_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#빅데이터 마케팅
#차현성
#2022

#시작

In [ ]:
print("Hollo World!")

Hollo World!

In [ ]:
#문자열에는 ""
a="python"
a

'python'

In [ ]:
#변수 지우기
del (a)

In [ ]:
#값 설정
a=2
b=3

In [ ]:
#값 도출
print (a)

2

#연산

In [ ]:
a+b

5

In [ ]:
a-b

-1

In [ ]:
a*b

6

In [ ]:
a/b

0.6666666666666666

In [ ]:
#제곱
a**a

4

In [ ]:
#루트값
2**0.5

1.4142135623730951

In [ ]:
#몫만 도출
12//5

2

In [ ]:
#반올림
55//6

9

#Type

In [ ]:
#Type
a=1
b=2.3
c=-4

In [ ]:
#정수
type(a)

int

In [ ]:
#실수
type(b)

float

In [ ]:
#방정식
d=a=b

In [ ]:
type(int(d))

int

#문자열

In [ ]:
#문자열
type(F)

NameError: ignored

In [ ]:
#문장
print("Ubion is the best")

In [ ]:
print("Ubion isn't the best")

In [ ]:
#문장 ''를 쓸 때 문장에 에러가 뜰 수 있어서,어퍼스트로피 앞에 \를 붙여준다.
print('ubion isn\'t the best.')

In [ ]:
#문장 줄바꿈 [\n]
print("ubion is the best. \nubion isn't the best.")

In [ ]:
#문장활용
a="ubion is the best."

In [ ]:
b="Ubion isn't the best"

In [ ]:
c=a+b

In [ ]:
#위에서 만든 방정식으로 두가지문장을 붙일 수 있음
print(c)

In [ ]:
#a가 정수x만큼 반복 됨.
a*25

In [ ]:
#문장 꾸미기.
#위의 코드 응용
print("-"*40)
print(a*2)
print("-"*40)

In [ ]:
#파이썬은 0이 기준,R은 1이 기준
# [a:b] : a<= x <b 
# a보다 크거나 같고, b보다 작은 인덱스를 꺼내온다
"유비온은 최고의 교육기관이다."[0:3]

In [ ]:
#[:]에서 0은 생략 가능, 음수도 가능
first_name = "HyeonseongCha"[:10]
print(first_name)

In [ ]:
last_name= "HyeonseongCha"[10:]
print(last_name)

In [ ]:
last_name= "HyeonseongCha"[-3:]
print(last_name)

In [ ]:
#단어 길이
name="hyeonseongcha"
len(name)

In [ ]:
#단어에서 알파벳 위치 찾기
#중복시 첫번째 것의 위치값만 도출됨.
#찾는문자가 없는 경우 -1이 도출됨.
#find는 문자열에만 사용 가능 -> 그 외 에러
name.find("s")

In [ ]:
#index는 찾는문자가 없는 경우 value error 발생한다.
#index는 문자열 리스트 튜플 자료에 사용 가능
name.index("c")

In [ ]:
#단어에서 알파벳 개수 찾기
name.count("o")

In [ ]:
#음절별 띄어쓰기
a=" "
a.join("HyeonseongCha")

In [ ]:
#단어 전체 대문자
name.upper()

In [ ]:
#단어 전체 소문자
name.lower()

In [ ]:
name

In [ ]:
name=" hyeonseong cha "

In [ ]:
#단어 side에 띄어쓰기 없애기
name.strip(a)

In [ ]:
#strip앞에 r또는l 삽입하여 위치설정 가능
name.rstrip(a)

In [ ]:
#문장에서 특정 단어 바꾸기
#("x","y") x를 y로!
name.replace("cha","song")

In [ ]:
#띄어쓰기를 기준으로 나누기
name.split()

In [ ]:
#문장 삽입
article1="저는 바로 그달 말에 이사할 예정이었습니다. 두말할 것도 없이 새 집의 첫째 조건은 ‘지상에 있을 것’이었어요. 그런데 이 집이 빠지기는 할까, 과연 나 말고 누가 이런 곳에 살고 싶어 할까 전전긍긍했습니다. 누군가 이사를 와야 제가 그 집을 나갈 수 있었으니까요. 새 계약자는 예상보다 훨씬 빠르게 나타나 주었습니다. 그런 집이나마 누군가는 여전히 필요로 하더군요. 제가 그랬듯이요"

In [ ]:
#문장을 음절로 나누기 /영어에서는 단어별
article1.split()

In [ ]:
#문단을 .을 기준으로 나누기 // 문장으로 나누기
article1.split(".")

In [ ]:
F="chacha"

#List & Tuple

In [ ]:
#값을 []에 넣으면 a의 type은 List
a=[1,2,3,4,5]
a

In [ ]:
type(a)

In [ ]:
#값을 ()에 넣으면 a의 type은 tuple
#tuple은 이후에 내재된 수(또는 str)들을 바꿀 수 없음.
b=(1,2,3,4,5)
b

In [ ]:
type(b)

In [ ]:
a[3] = 4
a

In [ ]:
a.replace(3,4)
a

In [ ]:
b.replace(3,4)
b

In [ ]:
a = [1,2,3,4,5]
b = ["1","2","3"]
a+b

In [ ]:
a*2

In [ ]:
c=b*2

In [ ]:
c

In [ ]:
#c의 n(n+1) 값을 x로 바꾸고 싶을 때,
c[1]="3"

In [ ]:
c

In [ ]:
b = ("1","2","3")

In [ ]:
b[2]

In [ ]:
len(a)

#행렬

In [ ]:
#np라는 이름의 표를 넣을 때,
import numpy as np

In [ ]:
#행렬값을 넣어주고, 행렬의 배열 모양을 물어본다.
matrix=[[1,2,3,4],[5,6,7,8],[9,10,11,12]]
matrix
np.array(matrix,int).shape

In [ ]:
a=()

In [ ]:
b=(1,2,3)

In [ ]:
c=("x","y","z")

In [ ]:
d=b+c

In [ ]:
d

In [ ]:
a,b,c=(1,),(2,3),(4,5)

In [ ]:
print(a)

In [ ]:
print(b)

In [ ]:
print(c)

In [ ]:
a=(1,2,3,4)

In [ ]:
a=[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
#pop은 (x+1)의 값을 제거해줌.
a.pop(1)
a

#Dictionary

In [ ]:
#Key:values
a={"달러":1400,"엔화":100}
a

In [ ]:
#a라는 집합에 있는 원소(key)를 삽입하여 그에 응하는 value값을 도출해 냄
a["달러"]

In [ ]:
#"달러"라는 Key가 a에 있으면 value값을 구해달라는 뜻
print(a.get("달러"))

In [ ]:
#집합 a의 원소 중 "달려"는 존재하지 않기 때문에
print(a.get("달려"))

In [ ]:
#집합a에 "위안"이라는 Key가 있으면, "부근아 진짜 바보냐?"말해달라는 요청 
a.get("위안","부근아 진짜 바보냐?")

In [ ]:
#a에 "위안":300을 새로 추가하는 과정
a["위안"]=300

In [ ]:
#반영됨
a

In [ ]:
#원소 중 "엔화"를 제외해달라는 요청
del a["엔화"]

In [ ]:
a

In [ ]:
a={"달러":1400,"위안":3000,"위안":500}

In [ ]:
#중복되는 Key가 발생하면 최근 값
a

In [ ]:
a["달러"]=1500

In [ ]:
a

In [ ]:
a.keys()

In [ ]:
a.values()

In [ ]:
#문자열에서 같은 알파벳을 묶어서 집합의 형태로 도충
a="statistics"
s=set(a)
s

In [ ]:
#회사로 예
com=["사원","대리","과장","팀장","대리","과장"]

In [ ]:
#s_com = com의 변수들을 set의 형태로 바꿔줘
#중복 값은 지워진다.
s_com =set(com)

In [ ]:
s_com

#집합

In [ ]:
a=set([1,2,3])
b=set([2,3,4])

In [ ]:
a

In [ ]:
b

In [ ]:
#교집합
a&b

In [ ]:
#합집합
a|b

In [ ]:
#차집합
a-b

In [ ]:
#집합 a에 개수 추가
a.update([5,6,7])

In [ ]:
a

In [ ]:
#집합 a에서 {3}제외
a.remove(3)

In [ ]:
a

In [ ]:
#집합 a에서 {5}제외
a.remove(5)

In [ ]:
#집합 a에서 {7}제외
a.remove(7)

In [ ]:
a

#가격

In [ ]:
#%.2x : 소수점 아래 2자리 까지
#음수도 활용가능
#%d :intager - 정수
#%f : float - 실수
#%s : string - 문자열

a=-100.66
b=150.88
c=200.99

In [ ]:
print("사과 한개의 가격은 %f원 입니다."%a)

In [ ]:
print("사과 두개의 가격은 %f원 입니다."%b)

In [ ]:
print("사과 세개의 가격은 %d원 입니다."%c)

In [ ]:
# %d자리에 차례대로 %(x,y)의 값을 넣어주세요.
print("사과 한개의 가격은 %d원 입니다.사과 두개의 가격은 %d원 입니다."%(a, b))

In [ ]:
#문자도 가능합니당
d="차현성"
print("%s 고객님 안녕하세요"%d)

In [ ]:
f="송부근"
print("%s님아 집중하세요"%f)
print("그러다가 %d대 맞아요"%c)

#functions

In [ ]:
#True & False
1 >2

In [ ]:
1<2

In [ ]:
1<-1

In [ ]:
#1은 True
#0은 False
#1/0은 오류입니다

In [ ]:
#and는 교집합이기 때문에 0이다.
#0과 1은 교집합이 존재하지 않음.
#공집합은 아니다.
1 and 0

In [ ]:
#or은 합집합이다.
#수학에서 <또는>은 '최소한 한쪽에 속함'
#즉, +의 개념
1 or 0

In [ ]:
not 1

In [ ]:
not 0

In [ ]:
#True
#List에 존재하기 때문에 참이다.
1 in [0,1,2,3,4]

In [ ]:
"a" in "abc"

In [ ]:
#List에 존재하지 않기 때문에 참
0 not in [1,2,3,4,5,6]

In [ ]:
#False
#List에 존재하지 않기 때문에 거짓이다.
6 in [1,2,3,4,5]

In [ ]:
"a" in "gf"

In [ ]:
#List에 존재하기 때문에 거짓
1 not in [1,2,3,4,5]

In [ ]:
#if 함수
#4칸씩 띄우는 것은 위의 조건에 종속되어있다는 뜻!
score = 60

if  score>90:
    print("A")
else: 
    if score>80:
        print("B")
    else:
        if score>70:
          print("C")
        else:
            if score>60:
                print("D")
            else :
                print("F")

In [ ]:
#else: if를 줄여서 -> elif

score=75

if  score>90:
    print("A")
elif score>80:
    print("B")
elif score>70:
    print("C")
elif score>60:
    print("D")
else :
    print("F")

In [ ]:
#try함수
#1/0은 오류임.(얼레벌레 수학적인 이유)
#그래도 시도(try)를 하고 싶어서
#1x0/0 = 1x0 = 0이라는 가정을 해보았음.
#수학적인 오류(분모가 0인 상황이 발생함.)
try:
    1/0
except:
    print("분모가 0이 나왔음")
else:
    print("분모 이상 없음")

In [ ]:
#While함수
#0<=i<10
#i+=1이라면, +1씩 모든 곳에 더해준 수를 구할 수 있음

i=0
while i<10:
    i+=1
    print(i)

In [ ]:
#For함수
#최종값 10안에 들어갈 수 있는 i의 값들
#최솟값을 음수로 지정하면 음수부터 도출 가능  
for i in range(10):
    print(i)

In [ ]:
j=0
for i in range(10):
    j+=i
    print(j)

In [ ]:
# range(초기값, 최종값, 증감값)
# i의 값을 도출할 때,최종값까지" "를 넣어달라 요청
for i in range(5,10,):
    print(i,end=" ")

In [ ]:
for i in range(5,10,2):
    print(i,end=" ")

5 7 9

In [ ]:
#역순으로도 가능
for i in range(20,0,-2):
    print(i,end=" ")

20 18 16 14 12 10 8 6 4 2

In [ ]:
#f(a)에 대해 정의 함
def f(a):
    out =a/3
    return out

In [ ]:
f(30)

10.0

In [ ]:
#div3(a)에 대한 정의
def div3(a):
    out =a/5
    return out

In [ ]:
div3(60)

12.0

In [ ]:
#위의 함수들을 쉽게 설명하자면
def f(x):
    out =x/7
    return out

In [ ]:
f(6)

0.8571428571428571